.contentContainer {
    margin: auto;
    width: 30%;
    padding: 2rem;

    border-radius: 1rem;
    background-color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
    .contentContainer {
        margin: auto;
        width: 70%;
        padding: 2rem;
    
        border-radius: 1rem;
        background-color: var(--secondary-color);
    }
    
}

.header {
    margin: 2rem auto;
    width: 50%;
    text-align: center;

    color: var(--secondary-color);
    font-size: 4rem;
}

.input {
    margin: 1rem 0;
    width: 100%;
    padding: .75rem;
    font-size: 1rem;

    box-sizing: border-box;
    border-radius: .5rem;
    border-style: none;
    color: var(--primary-color);
}

.input:focus {
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 .25rem var(--primary-color);
}

.checkBox {
    transform: scale(1.5);
    cursor: pointer;
}

.button {
    padding: .75rem;
    width: 100%;

    border-radius: 2rem;
    border-style: none;
    color: var(--secondary-color);
    background-color: #00e699;
    font-size: 1.5rem;
}

.button:hover {
    cursor: pointer;
}

.text {
    color: var(--tertiary-color);
}

.textError {
    display: block;
    text-align: center;
    color: #e60000;
}

.textFooter {
    display: block;
    text-align: center;
    margin: 1rem 1rem 0 1rem;
    color: var(--tertiary-color);
}

.textLink {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}
