
:root {
    --primary-color: #103783;
    --secondary-color: #9bafd9; 
    --tertiary-color: #f2f2f2;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;

    width: 30%;
    padding: 2rem;

    border-radius: 1rem;
    background-color: var(--secondary-color);
}

.header {
    color: var(--secondary-color);
    font-size: 4rem;
}

.input {
    width: 100%;
    padding: .75rem;
    font-size: 1rem;

    box-sizing: border-box;
    border-radius: .5rem;
    border-style: none;
    color: var(--primary-color);
}

.input:focus {
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 .25rem var(--primary-color);
}

.checkBox {
    transform: scale(1.5);
    cursor: pointer;
}

.button {
    align-self: center;
    padding: .75rem;
    width: 50%;

    border-radius: 2rem;
    border-style: none;
    color: var(--tertiary-color);
    background-color: #00e699;
    font-size: 1.5rem;
}

.button:hover {
    cursor: pointer;
}

.text {
    color: var(--tertiary-color);
}

.textError {
    align-self: center;
    text-align: center;
    color: #e60000;
}

.textFooter {
    text-align: center;
    color: var(--tertiary-color);
}

.textLink {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}